@sprite .header {
  gwt-image: 'mapLogo';
  background-position: 5px 5px;
  width: 314px;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
}

.anchor {
  background: none repeat;	
  width: 314px;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
}

.perspective {
  padding-top: 20px;
  padding-left: 50px;
  width: 130px;
}

.help {
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
  font-size: small;
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.help a {
  color: #B62D26;
  margin-right: 10px;
  
 
}

.help a:visited {
  color: #B62D26;
  text-decoration: underline;
}

.help a:hover {
  background: none repeat scroll 0 0 #B62D26;
  color: white;
  text-decoration: none;
}

