@sprite .successMessage {
  gwt-image: 'successIcon';
  background-position: left center;
  width: 100%;
  font-size: 12px !important;
	display: block;
	padding: 4px 5px 4px 20px;
	margin: 0 0 3px 0;
	border: 0px;
	color: green;	
	font-weight: bold;
}

@sprite .header {
  gwt-image: 'mapLogo';
  background-color: #417690;
  background-position: 5px 5px;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

@sprite .nav {
  gwt-image: 'navBackground';
}
