@sprite .errorItem {
  gwt-image: 'alertIcon';
  background-position: left center;
  width: 100%;
  font-size: 12px !important;
	display: block;
	padding: 4px 5px 4px 20px;
	margin: 0 0 3px 0;
	border: 0px;
	color: red;	
}
