*.class
*.rpc
*.cache.html
*.nocache.js
*.cache.js
*.metadata
*.cache.html
*.nocache.html
*.jar
.settings
.classpath
.project
gen/*
.gwt/*
www-test/**
war/**
gwt-unitCache/**
Explorer.war
!war/web.xml
external_resources/DatabaseConfig.sql
src/hibernate.properties
resources/prod/hibernate.properties
META-INF/hibernate.properties
build.properties
*.bin
