*.class
*.rpc
*.cache.html
*.nocache.js
*.cache.js
*.metadata
*.cache.html
*.nocache.html
*.jar
.settings
.classpath
.project
gen/*
.gwt/*
www-test/**
war/**
gwt-unitCache/**
MapAdmin.war
!war/web.xml
